@media screen and (max-width: 480px) {
    /* ここにスマホ版だけの記述 */
    html {
        font-size: 15px;
    }

    .note {
        width: 80%;
    }

    header a {
        font-size: 1.2rem;
    }

    header h1 {
        font-size: 1.5rem;
    }
}