@media screen and (max-width: 480px) {
    /* ここにスマホ版だけの記述 */
    html {
        font-size: 1rem;
    }

    header h1{
        font-size: 2rem;
    }

    /* index.html==============================↓ */

}


@media screen and (max-width: 720px) {
    /* ここにindexのNote,balloon周り用の記述 */
    .note {
        width: 80%;
    }

    .btn2 {
        font-size: 3.5vw;
    }

    .balloon .faceicon {
        width: 20%;
    }

    .chatting {
        width: 80%;
    }

    .says {
        width: 90%;
    }
}